.SanPhamDichVu {
    width: 85%;
    margin: 0 auto;

    h3 {
        text-align: center;
        font-weight: 600;
        color: #fff;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 32%;
            border: 1px solid #f0d57c;
            border-radius: 10px;
            padding: 20px;
            text-align: justify;
            min-height: 250px;
            margin-bottom: 30px;

            &__img {
                margin-bottom: 8px;
            }

            h4 {
                font-size: 15px;
                font-weight: bold;
                color: #f0d57c;
                line-height: 21px;
                margin: 0 0 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            p {
                font-size: 13px;
                font-weight: normal;
                color: #fff;
                line-height: 20px;
                margin: 0;
            }
        }
    }
}