@import 'variables';
@import 'icon';
@import 'custom-ant.scss';
@import 'btn';
@import 'general';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

.App {
  font-family: 'Chakra Petch', sans-serif;
  // header
  .quill-better-table-wrapper {
    table {
      border: 1px solid black;
      tr,
      td {
        border: 1px solid black;
      }
    }
  }
  .header {
    display: block;
    width: 100%;
    box-sizing: border-box;

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 12px 0;

      &__logo {
        width: 30%;

        img {
          width: 25%;
          height: 100%;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;

        .item {
          width: 25%;
          align-items: center;
          display: flex;

          p {
            margin: 0;
            color: #fff;
          }

          h4 {
            margin: 0;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
          }

          img {
            margin-right: 8px;
          }

          &:hover {
            transition: all 0.25s;
            cursor: pointer;
            p {
              color: #f1cc79;
            }

            h4 {
              color: #f1cc79;
            }
          }

          a {
            font-size: 20px;
            color: #f1cc79;
          }
        }
      }
    }

    &__menu {
      gap: 36px;
      background-color: #362e19;
      padding: 8px 0;
      border-bottom: 4px solid #f2d77d;

      &__item {
        display: block;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #fff;

        &:hover {
          color: #f2d77d;
          transition: all 0.25s;
        }

        p {
          margin: 0;
          font-size: 16px;
        }
      }

      .active {
        color: #f2d77d;
      }
    }
  }

  .footer {
    border-top: 3px solid #f2d77d;
    margin: 0 auto 0 auto;
    padding: 60px 0;
    width: 100%;

    &__container {
      width: 80%;
      margin: 0 auto;
    }

    &__logo {
      width: 10%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    &__info {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 80px;

      .item {
        // width: 30%;

        .title {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          position: relative;
          padding-bottom: 8px;

          &::before {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            content: '';
            height: 3px;
            width: 90px;
            background: #f0d57c;
          }
        }

        h5 {
          font-size: 16px;
          color: #f0d57c;
          font-weight: 600;
        }

        p {
          font-size: 14px;
          color: #a7a7a7;
        }

        a {
          display: block;
          font-size: 14px;
          color: #a7a7a7;
          margin-bottom: 8px;

          &:hover {
            color: #f0d57c;
            transition: all 0.25s;
          }
        }
      }
    }
  }

  .BUTTON-XEMTHEM {
    padding: 4px;
    border-bottom: 1px solid #b8741a;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    color: #3b3b3b;

    p {
      font-size: 18px;
      margin: 0;
    }

    &:hover {
      width: 15%;
      transition: all 0.25s;

      p {
        color: #007bff;
      }
    }
  }

  .breadcrumb {
    height: 200px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;

    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   content: ' ';
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    //   background: rgba(0, 0, 0, .85);
    // }

    &__info {
      position: relative;
      z-index: 1;

      h1 {
        font-weight: 650;
        font-size: 32px;
        color: #fff;
        text-align: center;
        margin-bottom: 2px;
      }

      p {
        font-size: 18px;
        color: #fff;
        text-align: center;

        span {
          color: #b8741a;
        }
      }
    }
  }
  // filter bar
  .filter-bar {
    margin-bottom: 20px;
    &__pophover {
      border: 1px solid $gray_border_3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      margin-right: 20px;
    }
  }
}
.layout-loading {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}

h1 {
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 28px;
  color: #fff;
}

h3 {
  font-size: 26px;
  color: #fff;
}

h4 {
  font-size: 24px;
  color: #fff;
}

h5 {
  font-size: 22px;
  color: #fff;
}

p {
  font-size: 18px;
  color: #fff;
}

.bottom-box-fix {
  position: fixed;
  right: 20px;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(210, 179, 67, 0.45) !important;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;

    i {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }
  }
}

.modal_datlich {
  h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 32px;
    margin: 0 0 10px;
    color: #c8af56;
  }

  p {
    font-size: 15px;
    font-weight: normal;
    color: #686868;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 15px;
    text-align: center;
  }

  .btn-submit {
    width: 100%;
    background: #c8af56;
    border: 2px solid #c8af56;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #111;
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
  text-align: center;
  bottom: 0;
  left: 0;
  background: rgba(210, 179, 67, 0.45);

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 0 5px;

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px;
      padding: 5px 10px 5px 10px;
      vertical-align: middle;
      position: relative;
      background: #dc8907;
      color: #fff;
      font-size: 15px;
      border-radius: 3px;

      p {
        margin: 0;
      }
    }
  }
}
