.ThietKeNoiThat {
    &__title {
        padding: 30px 0;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        h1 {
            margin-bottom: 0;
            color: #fff;
            font-size: 29px;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 30px;
            letter-spacing: 0.5px;
            text-align: center;
        }

        .slick-slider {
            width: 90%;
            margin: 30px auto 0 auto;
        }

        .slick-track {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .item {
            img {
                width: 100%;
                object-fit: cover;
                height: 135px;
            }

            p {
                font-size: 14px;
                color: #fff;
                letter-spacing: 1px;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                font-weight: 600;
                margin-top: 16px;
            }
        }
    }
}

.slick-dots li button:before {
    color: #f2d77d !important;
}