.kinh-nghiem {
  width: 65%;
  margin: 50px auto;

  .item {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #555555;

    &__img {
      width: 30%;

      img {
        width: 100%;
      }
    }

    &__info {
      width: 60%;

      p {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        color: #a3a3a3;
        font-weight: normal;
      }

      a {
        display: inline-block;
        line-height: 20px;
        color: #966634 !important;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;

        .title {
          display: inline-block;
          width: 100%;
          margin: 0 0 10px;
          color: #ffffff;
          font-size: 17px;
          line-height: 23px;
          font-weight: 600;
          font-style: normal;

          &:hover {
            color: #f2d77d;
            transition: all 0.25;
          }
        }

        &:hover {
          color: #e9ce6a !important;
          text-decoration: underline !important;
        }
      }
    }
  }
}

.kinh-nghiem-detail {
  width: 85%;
  margin: 30px auto;

  .title {
    padding-bottom: 0;
    border: 0;
    font-size: 27px;
    font-weight: normal;
    line-height: 33px;
    color: #fff;
    font-weight: 700;
  }
  
  .subTitle {
    overflow-wrap: break-word;
    margin-top: 15px;
    color: #A3A3A3;
  }
}
