.Home {
    &__info {
        width: 70%;
        margin: 60px auto;
        // margin-top: 60px;

        &__title {
            font-size: 35px;
            color: #551E00;
            text-align: center;
            font-weight: 600;
        }

        img {
            width: 100%;
            min-height: 350px;
            object-fit: cover;
        }
    }

    &__DanhHieu {
        width: 70%;
        margin: 70px auto;

        p {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            font-size: 18px;
        }
    }

    &__MauNhaGo {
        width: 70%;
        margin: 80px auto 0 auto;
        padding: 40px 0;

        a {
            &:hover {
                opacity: 0.6;
                transition: all 0.25s;
            }
        }
    }

    &__DuAn {
        width: 70%;
        margin: 70px auto;

        p {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            font-size: 18px;
        }

        &__Menu {
            margin: 30px auto 0 auto;
            display: flex;
            width: 70%;
            justify-content: space-between;

            a {
                font-size: 18px;
                color: black;
                text-transform: uppercase;
                display: block;
                padding: 4px 8px;
                
                &:hover {
                    background-color: #b8741a;
                    color: #fff;
                    transition: all 0.25s;
                }
            }

            .default {
                background-color: #b8741a;
                color: #fff;
            }
        }

        &__List {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 16px;

            a {
                display: block;
                padding: 8px;
                
                h3 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 18px;
                }

                &:hover {
                    text-decoration:underline;
                    text-decoration-color: #fff;
                }
            }
        }
    }

    &__KienThuc {
        width: 70%;
        margin: 70px auto;

        &__List {
            display: flex;
            justify-content: space-between;

            .item {
                width: 32%;

                &__img {
                    height: 250px;
                    position: relative;

                    img {
                        height: 100%;
                    }

                    p {
                        position: absolute;
                        top: 25px;
                        right: 0;
                        background-color: rgba(184, 116, 26, 1);
                        color: #fff;
                        padding: 3px 8px;
                    }
                }

                a {
                    h3 {
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 600;
                        margin-top: 16px;
                    }

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: black;
                    }
                }

                span {
                    font-weight: 500;
                    font-style: italic;
                    font-size: 12px;
                    color: #B8741A;
                }

                p {
                    font-size: 18px;
                }

                a {
                    font-size: 18px;
                    color: #B8741A;
                    font-weight: bold;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }
}