.Home {
    &__info {
        width: 80%;
        margin: 60px auto;
        // margin-top: 60px;

        &__title {
            width: 49%;
            font-size: 26px;
            color: #f2d77d;
            text-align: center;
            font-weight: 600;
            margin: 0 auto;
        }

        &__icon {
            display: flex;
            justify-content: center;
            gap: 20px;

            .item {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 50%;
                }

                p {
                    margin-top: 16px;
                    text-align: center;
                }
            }
        }

        &__img {
            img {
                width: 100%;
                // min-height: 350px;
                object-fit: cover;
            }
        }
    }

    &__DichVuNoiBat {
        width: 90%;
        margin: 70px auto;

        .item {
            width: 32%;
            position: relative;
            
            &__title {
                position: absolute;
                bottom: 0;
                // transform: translate(-50%);
                width: 100%;
                padding: 15px 5px;
                background: rgba(17,17,17,0.6);

                a {
                    display: block;
                    text-align: center;
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;
                    color: #fff;

                    &:hover {
                        color: #f2d77d;
                        transition: all 0.25s;
                    }
                }
            }
        }

    }

    &__MauThietKeNoiThat {
        width: 90%;
        margin: 80px auto 0 auto;

        &__list {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                width: 32%;
                position: relative;
                margin-bottom: 30px;
                
                &__title {
                    position: absolute;
                    bottom: 0;
                    // transform: translate(-50%);
                    width: 100%;
                    padding: 15px 5px;
                    background: rgba(17,17,17,0.6);

                    a {
                        display: block;
                        text-align: center;
                        margin: 0;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        color: #fff;

                        &:hover {
                            color: #f2d77d;
                            transition: all 0.25s;
                        }
                    }
                }
            }
        }
    }

    &__DuAn {
        width: 90%;
        margin: 80px auto 0 auto;

        p {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            font-size: 18px;
        }

        &__Menu {
            margin: 30px auto 0 auto;
            display: flex;
            width: 70%;
            justify-content: space-between;

            a {
                font-size: 18px;
                color: black;
                text-transform: uppercase;
                display: block;
                padding: 4px 8px;
                
                &:hover {
                    background-color: #b8741a;
                    color: #fff;
                    transition: all 0.25s;
                }
            }

            .default {
                background-color: #b8741a;
                color: #fff;
            }
        }

        &__List {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 16px;

            a {
                display: block;
                padding: 8px;
                
                h3 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 18px;
                }

                &:hover {
                    text-decoration:underline;
                    text-decoration-color: #fff;
                }
            }
        }
    }

    &__KienThuc {
        width: 70%;
        margin: 70px auto;

        &__List {
            display: flex;
            justify-content: space-between;

            .item {
                width: 32%;

                &__img {
                    height: 250px;
                    position: relative;

                    img {
                        height: 100%;
                    }

                    p {
                        position: absolute;
                        top: 25px;
                        right: 0;
                        background-color: rgba(184, 116, 26, 1);
                        color: #fff;
                        padding: 3px 8px;
                    }
                }

                a {
                    h3 {
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 600;
                        margin-top: 16px;
                    }

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: black;
                    }
                }

                span {
                    font-weight: 500;
                    font-style: italic;
                    font-size: 12px;
                    color: #B8741A;
                }

                p {
                    font-size: 18px;
                }

                a {
                    font-size: 18px;
                    color: #B8741A;
                    font-weight: bold;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }
    }

    &__ThongTinVe {
        width: 80%;
        margin: 80px auto 0 auto;

        .item {
            display: flex;
            justify-content: space-between;

            .right {
                width: 48%;
                display: flex;
                justify-content: space-between;

                &__info {
                    width: 86%;

                    h4 {
                        color: #f2d77d;
                        font-size: 20px;
                        font-weight: 600;
                        text-align: right;
                    }

                    p {
                        font-size: 16px;
                        text-align: justify;
                    }
                }

                .img {
                    width: 10%;

                    img {
                        width: 100%;
                    }
                }
            }

            .left {
                width: 48%;
                display: flex;
                justify-content: space-between;

                &__info {
                    width: 86%;

                    h4 {
                        color: #f2d77d;
                        font-size: 20px;
                        font-weight: 600;
                        // text-align: right;
                    }

                    p {
                        font-size: 16px;
                        text-align: justify;
                    }
                }

                .img {
                    width: 10%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__TuVan {
        width: 80%;
        margin: 80px auto 0 auto;

        &__list {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .active {
                width: 48%;
                
                h5 {
                    font-size: 24px;
                    color: #fff;
                    font-weight: 600;
                    margin-top: 8px;
                }

                a {
                    &:hover {
                        h5 {
                            color: #dc8907;
                            transition: all 0.25s;
                        }
                    }
                }

                p {
                    display: -webkit-box;
                    line-height: 1.4;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .list {
                width: 48%;

                .item {
                    display: flex;
                    gap: 20px;
                    height: 120px;
                    margin-bottom: 30px;

                    a {
                        display: block;
                        width: 30%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &__info {
                        width: 60%;

                        a {
                            width: 100%;

                            h5 {
                                color: #fff;
                                font-size: 20px;
                                font-weight: 600;
                            }

                            &:hover {
                                h5 {
                                    color: #dc8907;
                                    transition: all 0.25s;
                                }
                            }
                        }
                    }
                }

                .item + .item {
                    border-top: 1px solid #fff;
                    padding-top: 20px;
                }
            }
        }

        .XEMTHEM {
            font-style: italic;
            color: #dc8907;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}