.product {
    width: 70%;
    margin: 80px auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 32%;
            margin-bottom: 20px;

            &__img {
                width: 100%;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            a {
                margin-top: 12px;
                display: block;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #007bff;

                    h2 {
                        color: #007bff;
                    }
                }

                h2 {
                    display: -webkit-box;
                    color: #3b3b3b;
                    line-height: 1.4;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    margin-bottom: 8px;
                }

            }

            span {
                color: #B8741A;
                font-size: 16px;
                font-style: italic;
            }

            p {
                font-size: 18px;
                display: -webkit-box;
                color: #3b3b3b;
                line-height: 1.4;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.product__detail {
    width: 70%;
    margin: 80px auto;

    &__info {
        display: flex;
        justify-content: space-between;

        .img {
            width: 47%;

            &__active {
                width: 100%;
                height: 400px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__pre {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                height: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &__item {
                    width: 32%;
                }
            }
        }

        .info {
            width: 47%;

            h1 {
                font-weight: 600;
                color: #551E00;
                font-size: 26px;
                text-transform: uppercase;
            }

            &__item {
                display: flex;
                margin-left: 12px;
                width: 100%;

                h4 {
                    color: #B8741A;
                    font-size: 18px;
                    width: 40%;
                    margin-right: 40px;
                }

                p {
                    margin: 0;
                    font-size: 18px;
                }
            }
        }
    }
}

.pre__item__layout {
    position: relative;
    cursor: pointer;
    &:after {
        content: attr(data-name) !important;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid rgba(0, 0, 0, .1);
        background-color: rgba(0, 0, 0, .7);
    }
}