.Info {
    width: 70%;
    margin: 120px auto 0 auto;

    .title {
        text-align: center;
        font-size: 36px;
        font-weight: 650;
        color: #551E00;
        text-transform: uppercase;
        margin: 0;
    }

    .subTitle {
        text-align: center;
        font-size: 20px;
        color: #AAAAAA;
        text-transform: uppercase;
    }

    &__content {
        margin-top: 40px;
    }

    &__GiaiThuong {
        margin-top: 40px;

        h3 {
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
            letter-spacing: 0;
            color: #552001;
            opacity: 1;
            display: flex;
        }

        &__item {
            width: 47%;
            display: flex;
            background: #fff 0% 0% no-repeat padding-box;
            box-shadow: 0 1px 5px 2px #0000001a;
            padding: 16px;
            border-radius: 10px;
            height: 165px;
            margin-bottom: 16px;
            justify-content: space-between;
            cursor: pointer;

            .img {
                width: 30%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                width: 68%;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &:hover {
                background: #ecf9ff 0% 0% no-repeat padding-box;
                box-shadow: 0 1px 5px 2px #c6eeffa6;
                transition: all 0.25s;
            }
        }
    }

    &__Step {
        margin-top: 80px;
        position: relative;

        h2 {
            font-size: 36px;
            font-weight: 600;
        }

        img {
            position: absolute;
            top: 100px;
            right: 0;
            width: 60%;
        }

        .step {
            width: 40%;
        }
    }

    &__DoiNgu {
        margin-top: 24px;
        padding: 60px 0 140px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        position: relative;

        &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, .85);
        }

        &__info {
            position: relative;
            z-index: 1;

            h2 {
                font-weight: 650;
                font-size: 32px;
                color: #fff;
                text-align: center;
            }
            
            &__list {
                display: flex;
                justify-content: space-between;
                // width: 70%;
                // margin: 20px auto;

                .item {
                    width: 32%;
                    position: relative;

                    &__img {
                        height: 450px;
                        border: 2px solid #fff;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &__info {
                        padding: 20px;
                        background-color: #fff;
                        position: absolute;
                        width: 80%;
                        transform: translate(12%, -50%);

                        h3 {
                            text-transform: uppercase;
                            color: #551E00;
                            font-weight: 600;
                            font-size: 28px;
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            text-align: center;
                            font-size: 18px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &__KhachHang {
        width: 70%;
        margin: 60px auto 0 auto;
        padding-bottom: 100px;

        h2 {
            text-transform: uppercase;
            text-align: center;
            color: #551E00;
            font-weight: 650;
            font-size: 36px;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;

            .item {
                width: 45%;

                p {
                    font-size: 18px;
                }

                &__info {
                    display: flex;
                    
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                    }

                    &__name {
                        margin-left: 30px;
                        h4 {
                            font-weight: 650;
                            font-size: 20px;
                            margin: 0;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}