.Info {
    width: 85%;
    margin: 0 auto;

    &__LoiNgo {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .img {
            width: 55%;

            img {
                width: 100%;
            }
        }

        .loingo {
            width: 42%;

            h3 {
                text-transform: uppercase;
                color: #f0d57c;
                font-weight: 600;
                font-size: 25px;
                margin-top: 30px;
                position: relative;
                padding-bottom: 8px;

                &::before {
                    height: 4px;
                    width: 100px;
                    content: '';
                    position: relative;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                    background: #f0d57c;
                    position: absolute;
                }
            }
        }

    }

    &__SoAnTuong {
        width: 85%;
        margin: 0 auto;

        h3 {
            color: #fff;
            font-weight: 600;
            text-align: center;

            span {
                color: #f0d57c;
            }
        }

        &__list {
            display: flex;
            justify-content: space-between;
            
            .item {
                width: 22%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 50px;
                    font-weight: 600;
                    color: #f0d57c;
                    letter-spacing: 2px;
                    margin-bottom: 0;
                }

                p {
                    font-size: 13px;
                    font-weight: bolder;
                    letter-spacing: 2px;
                    color: #ffffff;
                    font-weight: 600;
                    line-height: 1.3em;
                    text-align: center;
                }
            }
        }
    }

    &__Maxhome {
        width: 85%;
        margin: 0 auto;
        margin-top: 30px;

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                display: inline-block;
                padding: 10px 50px;
                line-height: 30px;
                font-size: 21px;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #f0d57c;
                background: transparent;
                margin: 0 auto;
                letter-spacing: 1px;
                text-align: center;
                font-weight: 600;

                span {
                    color: #f0d57c;
                }
            }
        }

        &__list {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            
            .item {
                width: 32%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                &__img {
                    width: 25%;

                    img {
                        width: 100%;
                    }
                }
            }

            p {
                position: absolute;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 1px;
                margin: 0;
                line-height: 22px;
                height: 45px;
                bottom: 0;
                width: 70%;
                text-align: center;
                transform: translate(-30%, 0%);
                font-weight: 600;
            }
        }
    }

    &__Contact {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__info {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 39px;
                font-weight: bold;
                letter-spacing: 1px;
                color: #f0d57c;
                text-transform: uppercase;
                line-height: 55px;
                margin-bottom: 20px;
            }

            h4 {
                height: 35px;
                line-height: 35px;
                padding: 0 25px;
                background: transparent;
                border: 1px solid #f0d57c;
                color: #fff;
                display: inline-block;
                border-radius: 50px;
                font-size: 20px;

                span {
                    color: #f0d57c;
                    font-size: 20px;
                }
            }

            p {
                span {
                    color: #f0d57c;
                }
            }
        }

        &__form {
            width: 35%;

            h4 {
                color: #fff;
                font-weight: 600;
            }

            .ant-input {
                // height: 45px!important;
                // line-height: 43px!important;
                border-radius: 5px!important;
                padding: 10px 20px!important;
                font-weight: normal;
                font-size: 14px!important;
                color: #fff!important;
                background: transparent!important;
                font-weight: normal;
                box-shadow: none;
                text-shadow: none;
                outline: none!important;
                border: 1px solid #f0d57c!important;
                float: left!important;
                width: 100%!important;
                margin: 0!important;
            }

            .ant-btn-primary {
                width: 100%;
                color: #111!important;
                background: #f0d57c!important;
                font-size: 21px!important;
                text-transform: uppercase!important;
                padding: 0!important;
                height: 50px!important;
                line-height: 48px!important;
                font-weight: normal;
                border: none;
                border-radius: 10px;
            }
        }
    }
}