.kienthuc {
    width: 70%;
    margin: 60px auto;

    &__active {
        position: relative;
        a {
            &:hover {
                text-decoration: underline;
                text-decoration-color: #007bff;

                h1 {
                    color: #007bff;
                }
            }
        }

        h1 {
            color: #333;
            font-size: 36px;
            margin-top: 16px;
            margin-bottom: 0;
            font-weight: 600;
        }

        span {
            color: #B8741A;
            font-style: italic;
        }

        p {
            font-size: 20px;
            margin-bottom: 8px;
        }

        a {
            font-size: 20px;
            color: #B8741A;
            font-weight: 600;

            &:hover {
                color: #007bff;
                text-decoration: underline;
                text-decoration-color: #007bff;
            }
        }

        .time {
            position: absolute;
            top: 25px;
            right: 0;
            background-color: rgba(184, 116, 26, 1);
            padding: 3px 8px;
            
            p {
                color: #fff;
                margin: 0;
            }
        }
    }

    &__list {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .item {
            margin-bottom: 40px;
            width: 48%;
            position: relative;

            .img {
                height: 200px;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            a {
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #007bff;
    
                    h2 {
                        color: #007bff;
                    }
                }

                h2 {
                    font-weight: 600;
                    margin-top: 8px;
                    margin-bottom: 8px;
                    display: -webkit-box;
                    line-height: 1.4;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            p {
                font-size: 18px;
                display: -webkit-box;
                color: #3b3b3b;
                line-height: 1.4;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            a {
                font-size: 16px;
                color: #B8741A;
                font-weight: 600;
    
                &:hover {
                    color: #007bff;
                    text-decoration: underline;
                    text-decoration-color: #007bff;
                }
            }

            .time {
                position: absolute;
                top: 25px;
                right: 0;
                background-color: rgba(184, 116, 26, 1);
                padding: 3px 8px;
                
                p {
                    color: #fff;
                    margin: 0;
                }
            }
        }
    }
}

.kienthuc__detail {
    width: 70%;
    margin: 80px auto;

    span {
        margin-top: 16px;
        display: block;
        font-style: italic;
    }

    h1 {
        font-size: 26px;
        font-weight: 600;
        margin-top: 8px;
    }

    h2 {
        color: #B8741A;
        font-size: 20px;
    }
}